## 5 Simple Statements
* 5 simple statements:
    * Create the table
    * Insert data
    * Select data
    * Update data
    * Delete data

These statements fall into two different categories:
* DDL (Data Definition Language) statements:
    * Define, change, or drop data
* DML (Data Manipulation Language) statements:
    * Read and modify data

Let's use the author enetity as the example:

CREATE TABLE author
   (author_id CHAR(2)CONSTRAINT AUTHOR_PK PRIMARY KEY (author_id) NOT NULL,
    lastname VARCHAR(15) NOT NULL,
   firstname VARCHAR(15) NOT NULL,
   email VARCHAR(40),
   city VARCHAR(15), 
   country CHAR(2)
   )

Some explanation:
* CREATE TABLE statement is one of the data definition language statements
* Char is a charater string of a fixed length
* Varchar is a character string of a variable length
* The primary key of a relational table uniquely identifies each tuple or row in a table. This constraint prevents duplicate vallues in the table.
* The constraint not full ensures these fields cannot contain a null value.

## Examples to Create and Drop Tables
We see the general syntax to create a table:

create table TABLENAME (
     COLUMN1 datatype,
     COLUMN2 datatype,
     COLUMN3 datatype,
         ...
    );

Therefore, to create a table called TEST with two columns - ID of type integer, and Name of type varchar, we could create the following SQL statement:

create table TEST (
     ID integer,
    NAME varchar(30)
    );

Again, let's create a table called COUNTRY with an ID column, a two letter country code column, and a variable length country name column:

create table COUNTRY (
      ID int
      CCOD char(2)
      NAME varchar(60)
      );

We can add additional keywords in a create table statement:

create table COUNTRY (
      ID int NOT NULL
      CCOD char(2)
      NAME varchar(60)
      PRIMARY KEY (ID)
      );

"NOT NULL" -- meaning that it cannpt contain a NULL or an empty value

"PRIMARY KEY" -- a unique identifier.


IF the table you are trying to create already exists in the database, you will get an error indicating "table XXX>YYY already exists".

To circumvent this error, either create a table with a different name or first DROP the existing table. 

It is quite common to issue a DROP before doing a CREATE in test and development scenarios. But be sure that it doesn't contain important data that can't be recovered easily.

For example:

drop table COUNTRY;
create table COUNTRY(
    ID int PRIMARY KEY NOT NULL
      CCOD char(2)
      NAME varchar(60)
      );